/* App.css */
.app-container {
  /* Set background properties for the body or a container div */
  background-image: url('/pokeball_logo.png');
  background-size: cover;
  opacity: 0.8;
  height: 100vh;
  overflow: hidden;
  /* Other background properties */
}
